/**Navagation**/

.navBar {
  float: center;
  list-style-type: none;
  margin: 15px 5px;
}

li {
  list-style-type: none;
  display: inline-block;
}

.navBar {
  display: inline-block;
  background: #FFB4B0;
}

.navBar {
  font-weight: 800;
  padding: 15px 10px;
}

.navBar {
  border: solid;
  width: 100%;
  position: fixed;
  height: 35px;
}


/**Body**/
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


/**Genre Styling**/
.songs {
  background-color:#4DD7FA;
}

.genre input {
  width: 40%;
  float: left;
}

.clear {
  clear: both;
}


/**Labeling Genre**/

label {
  width: 100%;
}
/**Right-Body Style Song Names**/

.SongNames {
  float: right;
  width: 80%; 
  background-color: #FFF5EE;
}

h1 {
  color:#785616;
}

ul{
  color:#785616;
}

.moreSongs {
  background-color: #F5FFFA;
}

/**Float**/
.SongNames > h3 {
  float: right;
}

.bluePart {
  float:left;
  width:35%;
}

.clear {
  clear:both;
}

/**BUTTONS**/
.deleteoption {
  float:right;
}          





/**BOLD**/
#listOfSongs > h1 {
  text:bold;
}










