/**Navagation**/

.nav > li{
  float: center;
  list-style-type: none;
  margin: 15px 5px
}

.nav li {
  display: inline-block;
}

.nav a {
  font-weight: 800;
  padding: 15px 10px;
}

.nav{
  background: #FFB4B0
} 
.nav{
  border: solid
}

.nav{
  width: 100%
}


/**Body**/
body{
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


/**Genre Styling**/
.songs{
  background-color:#4DD7FA
}

.Genre1{
  float: left;
}

.Genre2{
  float: left;
}
/**Right-Body Style Song Names**/

.SongNames {
  float: right;
  width: 80%; 
}

.SongNames{
  background-color: #FEFAC0
}

h1{
  color:#785616
}

ul{
  color:#785616
}

.SongNames{
  width:65%
}

/**Float**/
.SongNames > h3{
  float: right
}

.SongLength{
  float:left;
  width:30%
}


.clear{
  clear:both;
}

li{
  list-style-type: none;
  display: inline-block
}

