/**Navagation**/

.nav > li {
  float: center;
  list-style-type: none;
  margin: 15px 5px;
}

.nav li {
  display: inline-block;
  background: #FFB4B0;
}

.nav a {
  font-weight: 800;
  padding: 15px 10px;
}

.nav {
  border: solid;
  width: 100%;
}

.nav{
  position: fixed;
  height: 35px;
}


/**Body**/
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


/**Genre Styling**/
.songs {
  background-color:#4DD7FA;
}

.genre input {
  width: 40%;
  float: left;
}

.clear {
  clear: both;
}


/**Labeling Genre**/

label {
  width: 100%;
}
/**Right-Body Style Song Names**/

.SongNames {
  float: right;
  width: 80%; 
}

.SongNames {
  background-color: #FFF5EE;
}

h1 {
  color:#785616;
}

ul{
  color:#785616;
}

.SongNames {
  width:65%;
}

.moreSongs {
  background-color: #F5FFFA;
}

/**Float**/
.SongNames > h3 {
  float: right;
}

.SongLength {
  float:left;
  width:35%

}

.clear {
  clear:both;
}

li {
  list-style-type: none;
  display: inline-block;
}

/**BUTTONS**/
.deleteoption {
  float:right;
}          





/**BOLD**/
#listOfSongs > h1 {
  text:bold;
}










